In [76]:
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt

# Read in Data Set + Info

In [77]:
df = pd.read_csv('adult21csv/adult21.csv')
df.head()

,URBRRL,RATCAT_A,IMPINCFLG_A,CVDVAC2YR_A,CVDVAC2MR_A,CVDVAC1YR_A,CVDVAC1MR_A,SHTCVD19AV_A,SHTCVD19NM_A,SHTCVD19_A,...,PROXYREL_A,PROXY_A,AVAIL_A,HHSTAT_A,INTV_MON,RECTYPE,IMPNUM_A,WTFA_A,HHX,POVRATTC_A
0,4,7,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,1,1,10,1,5423.324,H056808,1.93
1,4,12,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,1,1,10,1,3832.196,H018779,4.45
2,4,14,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,1,1,10,1,3422.661,H049265,5.94
3,3,11,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,1,1,10,1,12960.165,H007699,3.70
4,1,6,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,1,1,10,1,9284.618,H066034,1.66

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29482 entries, 0 to 29481
Columns: 622 entries, URBRRL to POVRATTC_A
dtypes: float64(437), int64(184), object(1)
memory usage: 139.9+ MB

# Reduction

In [92]:
# Vars
countColNan = df.isnull().sum(axis=0).tolist() # Column NaN counts
numRows = len(df) # Number of rows
colNames = df.columns

percList = [((x / numRows)*100) for x in countColNan] # Percent Missing Data

addBool = [ind < 1 for ind in percList] 

addList = []

for i in range(len(addBool)):
    if addBool[i]:
        addList.append(colNames[i])

dfNew = df[addList].copy()
dfNew = dfNew.drop(['HHX'], axis=1)
dfNew.dropna()

goodCols = ['EDUCP_A', 'PHSTAT_A','LSATIS11R_A', 'LSATIS4R_A', 'ANXEV_A', 'DEPEV_A','WEIGHTLBTC_A','NOTCOV_A']#'WELLVIS_A']

dfPCA = dfNew[goodCols]

In [93]:
# plt.bar(df['ANXEV_A'], df['HYPEV_A'])

Get counts of nans in eachrow + data types

In [94]:
# # By Row
# countNan = df.isnull().sum(axis=1).tolist()
# set(countNan)

In [95]:
x = list(df.dtypes)
set(x)

{dtype('int64'), dtype('float64'), dtype('O')}

In [97]:
pca = PCA(n_components=8)
pca.fit(dfNew)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [70]:
print(pca.explained_variance_ratio_)

[0.99659734 0.00245385]